In [1]:
#creating empty list
List=[]
print(type(List))

<class 'list'>

In [4]:
#Creating list with multiple values
List=["hello",1,5.85,True]
print(List)

['hello', 1, 5.85, True]

In [5]:
#Fetching value from list
List=["hello",1,5.85,True]
print(List[3])

True

In [11]:
#nested list
List=[['hari','viper'],['optimus','autobots'],['maeve','otis']]
print(List[0][1])
print(List[1][0])
a=[1,2,3,4,5,[5,6,7,8,9]]
print(a[5][4])

viper
optimus
9

In [9]:
#Repeating list
a=[5]
print(a*4)
b="autobots"
print(b*5)

[5, 5, 5, 5]
autobotsautobotsautobotsautobotsautobots

In [14]:
#Replacing a value
List=["hari",'razor',5.85]
List[2]='taz'
print(List)
a=[1,2,3,4,5,[5,6,7,8,9]]
a[5][4]=22
print(a)
b=[['hari','viper'],['optimus','autobots'],['maeve','otis']]
b[2][0]="Ron"
print(b)

['hari', 'razor', 'taz']
[1, 2, 3, 4, 5, [5, 6, 7, 8, 22]]
[['hari', 'viper'], ['optimus', 'autobots'], ['Ron', 'otis']]

In [15]:
#appending a List
a=[]
a.append(1)
a.append(2)
a.append(3)
a.append(4)
print(a)

[1, 2, 3, 4]

In [19]:
#appending alist 
a=[1,2,3,4,[5,6,7]]
b=[66,77,88]
a.append(b)
print(a)

[1, 2, 3, 4, [5, 6, 7], [66, 77, 88]]

In [20]:
#extending a list
a=[1,2,3,4,[5,6,7]]
b=[66,77,88]
a.extend(b)
print(a)

[1, 2, 3, 4, [5, 6, 7], 66, 77, 88]

In [30]:
#length of string
a="hello"
len(a)
#length of string using nested
b=[['hari','viper'],['optimus','autobots'],['maeve','otis']]
len(b)

3

In [31]:
#counting a list
List=[1,2,3,3,3,3,4,5,6,78]
List.count(3)

4

In [32]:
#instering a value in list
List=['optimus','autobots']
List.insert(2,'megatron')
print(List)

['optimus', 'autobots', 'megatron']

In [52]:
#delete
#pop
#del
#remove
List=[1,2,3,4]
List.pop(3)
print(List)
#Del
List1=[1,2,3,4]
del List1[2]
print(List1)
#Remove
List2=[1,2,2,2,2,2,4,5,5,6]
List2.remove(2)
print(List2)

[1, 2, 3]
[1, 4]
[1, 2, 2, 2, 2, 4, 5, 5, 6]

In [53]:
#indexing and slicing
List1=[1,2,3,4]
del List1[1:-1]
print(List1)

[1, 4]

In [55]:
#fetching a value from index location
List1=[1,2,3,4]
print(List1[2])
a=[1,2,3,45,6]
a.index(3)

3

2

In [57]:
#to check a list is empty or not
a=[1,3,56,7,8]
print(any(a))
b=[]
print(any(b))

True
False

In [64]:
#summing,max,min a list
a=[1,3,5,67,7]
print(sum(a))
b=[1,3,5,67,7]
print(max(b))
c=[1,3,5,67,7]
print(min(c))

83
67
1

In [68]:
#sorting a list ascending and descending
#ascending
a=[1,3,5,67,7]
print(sorted(a))

[1, 3, 5, 7, 67]

In [72]:
#descending
b=[1,3,5,67,7]
b=sorted(b,reverse=True)
print(b)

[67, 7, 5, 3, 1]

In [75]:
#zipping a list
a=[1,2,3,5]
b=[2,4,5,7]
c=zip(a,b)
print(set(c))

{(5, 7), (2, 4), (1, 2), (3, 5)}

In [86]:
#copying a list
a=[1,2,4,5,7,8]
b=a.copy()
print(b)

[1, 2, 4, 5, 7, 8]

In [90]:
#concadination list
a=[4,5,6,7]
b=[2,4,5,7]
c=a+b
print(c)

[4, 5, 6, 7, 2, 4, 5, 7]

In [94]:
#checking a value in a list
a=[2,4,5,7]
if 6 in a:
    print("True")
else :
    print("false")

false

In [95]:
#column wise printing
b=[2,4,5,7]
for x in b:
    print(x)

2
4
5
7

In [88]:
#converting a List to tuple
a=[4,5,6,7]
b=tuple(a)
print(b)

(4, 5, 6, 7)